@model Customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Create</title>
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body class="m-1 p-1">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label asp-for="CustomerId"></label>
                <input asp-for="CustomerId" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Address.Line1"></label>
                <input asp-for="Address.Line1" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Address.Line2"></label>
                <input asp-for="Address.Line2" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Address.Phone"></label>
                <input asp-for="Address.Phone" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Address.Country"></label>
                <input asp-for="Address.Country" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                <select asp-for="Role" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Role)))"></select>
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>